body {
    overflow-x: hidden;
}

section {
    overflow-x: hidden;
}

.gmap-container {
    height: 94vh;
}

.intro {
    display: table;
    margin: auto;
    width: 100%;
    height: 100vh;
    vertical-align: middle;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

a.btn.btn-outline.fill {
    color: #fff;
    background: #65b53e;
    border-color: #65b53e;
    margin-left: 6px;
}

.map {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
}

.map-controller {
    background: transparent !important;
    position: absolute;
    right: 0;
    bottom: 35%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: none;
    min-width: 634px;
    max-width: 634px;
}

.locations h3 {
    font-size: 17px;
    font-weight: bold;
}

.locations p {
    font-weight: lighter;
    font-family: arial;
}

.location-controler i {
    width: 40px;
    height: 40px;
    text-align: center;
    background: #615e5e;
    color: #fafafa;
    font-size: 25px;
    padding-top: 7px;
    border-radius: 50%;
    margin: 20px 0;
}

.locations .btn {
    border-radius: 0 !important;
    background: #6dbd45;
    color: #fff;
    font-weight: bold !important;
}

.locations .btn-info {
    padding: 10px 13px;
}

.locations .btn-info:hover,
.locations .btn-info:active,
.locations .btn-info:focus {
    border-color: #6dbd45;
    background: #6dbd45;
    outline: 0;
}

.locations .modal-content {
    border-radius: 0;
    padding: 15px 30px;
    background: #333230;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.75);
}

.location-contact ul {
    padding: 0;
    list-style: none;
    margin-top: 20px;
    border-left: 1px solid #4a4948;
    padding-left: 31px;
}

.location-address h4 {
    font-size: 14px;
    color: #222;
}

.location-address p {
    font-size: 13px;
    color: #AAAAAA;
}

.location-contact a {
    font-size: 13px;
    color: #AAAAAA;
}

.row.location-address-contact {
    padding: 20px 0;
}

.location-address h4 a {
    color: #e2dfdf;
}

.location-modal .modal-header {
    border-bottom: none;
}

.location-contact a i {
    color: #6dbd45;
}

.location-modal .close {
    width: 40px;
    height: 40px;
    opacity: 1;
    text-shadow: none;
    color: #fff !important;
    background: #6dbd45;
}

.location-modal .close:hover,
.location-modal .close:active,
.location-modal .close:focus {
    outline: 0;
}
